[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "multipleDL"]
	path = multipleDL
	url = https://github.com/yuqitian35/multipledl
